.AsentamientoData {
    text-align: center;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  
  @media (prefers-reduced-motion: no-preference) {
    
  }
  
  button.button{
    border-radius: 8px;
    margin-top:20px;
    border-color: transparent;
    padding: 5px;
    max-width: 900%;
    width: 20em;
    cursor: pointer;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .AsentamientoData-container{
    width: 100vw;
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }
  .AsentamientoData-container>h2{
    font-size: 1.5em;
    font-weight: 600;
    min-width: 90%;
  }
  .AsentamientoData-main{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
  }
  .pred{
    min-width: 100%;
    border-right: 1px gray;
  }
  .pred>img{
    width: 90%;
    margin-top:10px;
  }
  .pred-mape{
    font-size: 1.8em;
  }
  .mape-desc{
    font-size: 0.8em;
  }
  